@use "~bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.edit-icon {
  display: inline-block;
  text-align: center;
  padding: 6px 47%;
  border: 1px solid #6c757d;
  border-radius: 5px;
  background-color: #fff;
}

.edit-icon:hover{
  background-color: #6c757d;
}

.edit-icon i {
  color: #6c757d;
  background-color: #fff;
  font-size: 1rem;
}

.edit-icon:hover i {
  color: #fff;
  background-color: #6c757d;
}